/* ROOT */

:root {
    /* colors */
    --lightgold : rgb(250, 212, 0);
    --darkgold : rgb(224, 155, 6);
    --lightgreen : rgb(3, 165, 76);
    --darkgreen: rgb(1, 111, 50);

    /* fonts */
    --main-font : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --honk-font : 'Honk' ;
}


/* OVERALL PARAMETERS */

body {
    font-family: var(--main-font);
    background-color: var(--darkgreen);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    font-family: var(--honk-font);
    font-size: 4em;
}

#message-el {
    font-style: italic;
}

#info-el {
    background-color: rgba(0, 0, 0, 0.3);
}


/* CONTAINERS */

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-container {
    width: 80vw;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

/* BUTTONS */

.game-btn {
    color: var(--darkgreen);
    width: 150px;
    background: var(--darkgold);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    
}

.game-btn:hover {
    background-color: var(--lightgold);
    color: var(--lightgreen);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.game-btn:active {
    color: var(--lightgold);
    background-color: var(--lightgreen);
    
}